        <p>
            Click the <strong>Go to event</strong> button to join an event.
        </p>
        <p>
            Click the <strong>Register</strong> button to register for an event.
        </p>
